{% extends "base.html.twig" %}

{% block body %}
{% include "site-parts/slider.html.twig" %}
<div class="container-fluid">
    <div class="row">
      <div class="col-sm">
        Acces à l agenda
      </div>
      <div class="col-sm">
        Description de l organisateur
      </div>
      <div class="col-sm">
        Description du groupe
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <a class="btn btn-primary" href="{{ path("agenda") }}">Agenda</a>
      </div>
      <div class="col-sm">
        <a class="btn btn-primary" href="{{ path("agenda") }}">S'inscrire</a>
      </div>
      <div class="col-sm">
        <a class="btn btn-primary" href="{{ path("agenda") }}">S'inscrire</a>
      </div>
    </div>
  </div>
  {% endblock %}


