{% extends 'base.html.twig' %}

{% block body %}
{% include "site-parts/slider.html.twig" %}
<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="..." class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Nom de l'Event</h5>
          <p class="card-text">lieu</p>
          <p class="card-text">genre</p>
          <p class="card-text"><small class="text-muted">La date</small></p>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}