{% extends "base.html.twig" %}

{% block body %}
{% include "site-parts/slider.html.twig" %}
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div>
        <img width="80"  src="{{asset('assets/images/appph.svg')}}">
      </div>
    </div>
    <div class="col-sm">
      <h5>Information</h5>
    </div>
    <div class="col-sm">
      <h5>Description</h5>
    </div>
  </div>
</div>



{% endblock %}