{% extends 'base.html.twig' %}

{% block body %}
{% include "site-parts/slider.html.twig" %}

<form method="post" action="traitement.php">
    <form name="mon-formulaire1" action="page-envoi.html" method="get">
       Vous etes:
        <p>
           <input type="radio" name="civi" value="groupe" /> groupe
           <input type="radio" name="civi" value="musicien" /> musicien
        </p>
        
        <p>
           <input type="radio" name="civi" value="dj" /> DJ
           <input type="radio" name="civi" value="chanteur" /> chanteur
        </p>

        type d'etablissement:
        <p>
           <input type="radio" name="civi" value="" /> Bar/Pub
           <input type="radio" name="civi" value="" /> Restaurant
        </p>

        <p>
           <input type="radio" name="civi" value="" /> Discothèque
           <input type="radio" name="civi" value="" /> Particulier
        </p>

        <p>
           Style de l'evenement :<br />
           <input type="text" name="name" value="" />
        </p>
        <p>
           Lieu de l'evenement :<br />
           <input type="text" name="name" value="" />
        </p>
        <p>
           Date de l'evenement :<br />
           <input type="date" name="datedebut">
           <input type="date" name="datefin">
        </p>
        <p>
          
        
        <p>
           mon evenement :<br />
           <textarea name="le-message" rows="6" cols="40">Vous pouvez saisir ici un message.</textarea>
        </p>

        Styles musicaux
        <p>
            <input type="radio" name="civi" value="" /> Reprises diverses
            <input type="radio" name="civi" value="" /> Variété française/Musette
        </p>

        <p>
            <input type="radio" name="civi" value="" /> Pop/Rock
            <input type="radio" name="civi" value="" /> Jazz/Blues
            <input type="radio" name="civi" value="" /> Hip-Hop/RB/Soul/Funk
        </p>

        <p>
            <input type="radio" name="civi" value="" /> Electro/Dance
            <input type="radio" name="civi" value="" /> Année 80/Disco
        </p>
        <p>
            <input type="radio" name="civi" value="" /> Metal/Hard Rock

            <input type="radio" name="civi" value="" /> Médieval/Viking
        </p>

        <p>
            <input type="radio" name="civi" value="Mr" /> Musique pour enfants
            <input type="radio" name="civi" value="Mr" /> Classique/Chant/Gospel
        </p>

        <p>
            <input type="radio" name="civi" value="Mr" /> Reggaae/Musique du monde/Country
        </p>

        <p>
            <input type="radio" name="civi" value="Mr" /> DJ généraliste
         </p>
       
         Mes liens de contact

         <p>
            .Facebook <input type="text" name="name" value="" />
         </p>

         <p>
            .Twitter <input type="text" name="name" value="" />
         </p>

         <p>
            .www <input type="text" name="name" value="" />
         </p>

        

        <p>
           <input type="submit" value="Envoyer" />
           <input type="reset" value="Annuler" />
        </p>
        </form>
    