<div id="sidebar" class="col-2 bg-dark">
    <p id="sidebar-title" class="text-center mt-3 text-warning">Menu ADMIN</p>
    <ul class="navbar-nav text-justify ml-3 ">
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Home Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Lien 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Lien 2</a>
        </li>
    </ul>
</div>