<footer class="mt-3">
	<div class="row ml-2 mb-0">
		<p class="mb-0">
			© ELSASS ZIKOS -2020 - WEBFORCE 3 EXPERIENCE -
			<a href="http://www.google.fr">FAQ</a>
			<a href="http://www.google.fr">Mentions Légales-</a>
			Réalisé par Arthur, Florian, Rodolphe, Jalil .
		</p>
		<a href="https://twitter.com/?lang=fr"><img height="30" width="30" src="{{ asset('assets/images/twitter.png') }}" class="mr-3 mt-0" alt="..."></a>
		<a href="https://www.facebook.com/"><img height="30" width="30" src="{{ asset('assets/images/fb.png') }}" class="mr-3 mt-0" alt="..."></a>
		<a href="mailto: florian67@neuf.fr/"><img height="25" width="25" src="{{ asset('assets/images/emailUs.png') }}" class="mr-3 mt-0 carre" alt="..."></a>
	</div>
</footer>
