<footer>
	<div class="container">
		<div class="row" style="height:30px;padding:10px; text-align: center">

			<p>
				© ELSASS ZIKOS -2020 - WEBFORCE 3 EXPERIENCE -
				<a href="http://www.google.fr">FAQ</a>
				<a href="http://www.google.fr">Mentions Légales-</a>
			</p>
			<p>Réalisé par Arthur, Florian, Rodolphe, Jalil .</p>
			<img style="border-radius: 50%" height="30" width="30" src="{{ asset('assets/images/twitter.png') }}" class="mr-3" alt="...">
			<img style="border-radius: 50%" height="30" width="30" src="{{ asset('assets/images/fb.png') }}" class="mr-3" alt="...">
			<img style="border-radius: 0%" height="25" width="25" src="{{ asset('assets/images/emailUs.png') }}" class="mr-3" alt="...">
		</div>
	</div>
</footer>
