<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="https://jssors8.azureedge.net/demos/img/gallery/980x380/004.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="http://www.mycpanel.in/bootstrap/img/gallery/980x380/001.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://wowslider.com/sliders/demo-5/data/images/sweden.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>