{% block stylesheets %}
    <style>
        .slide{
            background-image: url("{{asset('assets/images/bande7.jpg')}}");
            width: 100%;
            height: 350px;
            background-size: cover;
            margin-top: 20px;
        }
    </style>
{% endblock %}

<div class="slide"></div>


