footer {
    background-color:rgba(255, 255, 255, 0.787); 
    height:fit-content; 
    width:100%;
    position: fixed;
    bottom: 0px;
}

footer div {
    padding:10px; 
    text-align: center;
}

footer div a img:not(.carre) {
    border-radius: 50%;
}

p{
    color: black;
}

#footer-espace-blanc {
    height: 80px;
    width: 100%;
}