@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

h1 {
    text-align: center;
    color: #fbf9f9;
    font-size: 72px;
    margin-bottom: 40px;
    margin-top: 40px;
    font-family: 'Pacifico', Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px #082132;
  }

  h2 {
    text-align: center;
    color: hsl(234, 44%, 92%);
    font-size: 35px;
    margin-bottom: 40px;
    margin-top: 40px;
    font-family: 'Pacifico', Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px #082132;
  }

 body{
    background: #1C6EA4;
    background: -moz-linear-gradient(left, #1C6EA4 0%, #2388CB 50%, #144E75 100%);
    background: -webkit-linear-gradient(left, #1C6EA4 0%, #2388CB 50%, #144E75 100%);
    background: linear-gradient(to right, #1C6EA4 0%, #2388CB 50%, #144E75 100%);;
}

.info{
    margin: auto;
    padding: 30px;
    background-color: rgba(240, 255, 240, 0.671);
    border: 2px solid rgb(2, 0, 0);
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    width: 70%;
    text-align: center;
}

.form{
    margin-left: 110px;
 } 
 
 .postIt{
     background: #F7FF86;
     background: -moz-linear-gradient(left, #F7FF86 0%, #FDFFA4 50%, #FFF281 100%);
     background: -webkit-linear-gradient(left, #F7FF86 0%, #FDFFA4 50%, #FFF281 100%);
     background: linear-gradient(to right, #F7FF86 0%, #FDFFA4 50%, #FFF281 100%);
     -webkit-box-shadow: 5px 4px 8px 0px rgba(0,0,0,0.74); 
     box-shadow: 5px 4px 8px 0px rgba(0,0,0,0.74);
 }

 .postIt p{
    color: black;
}

.validation{
    margin-left: 370px;
}

