p{
    text-align: justify;
    color: whitesmoke;

}


 body{
    background: #1C6EA4;
    background: -moz-linear-gradient(left, #1C6EA4 0%, #2388CB 50%, #144E75 100%);
    background: -webkit-linear-gradient(left, #1C6EA4 0%, #2388CB 50%, #144E75 100%);
    background: linear-gradient(to right, #1C6EA4 0%, #2388CB 50%, #144E75 100%);;
}

span{
    color: rgb(207, 5, 5);
    font-weight: bold;
    font-size: 20px;
}

a {
    padding-left : 50px;
}

