@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');



body{
    background: #1C6EA4;
    background: -moz-linear-gradient(left, #1C6EA4 0%, #2388CB 50%, #144E75 100%);
    background: -webkit-linear-gradient(left, #1C6EA4 0%, #2388CB 50%, #144E75 100%);
    background: linear-gradient(to right, #1C6EA4 0%, #2388CB 50%, #144E75 100%);;
}

.container.form{
margin-top: 100px;
background-color: rgba(240, 255, 240, 0.671);
border: 2px solid rgb(2, 0, 0);
-webkit-border-radius: 10px 10px 10px 10px;
border-radius: 10px 10px 10px 10px;
}

h1 {
    text-align: center;
    color: #fbf9f9;
    font-size: 72px;
    margin-bottom: 40px;
    margin-top: 40px;
    font-family: 'Pacifico', Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px #082132;
    }