@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

h1{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Pacifico', Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}

h2{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Pacifico', Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}

p{
    color: white;
    text-align: center;
}



body{
    background: #1C6EA4;
    background: -moz-linear-gradient(left, #1C6EA4 0%, #2388CB 50%, #144E75 100%);
    background: -webkit-linear-gradient(left, #1C6EA4 0%, #2388CB 50%, #144E75 100%);
    background: linear-gradient(to right, #1C6EA4 0%, #2388CB 50%, #144E75 100%);
}


.form{
   margin-left: 110px;
} 

.postIt{
    background: #F7FF86;
    background: -moz-linear-gradient(left, #F7FF86 0%, #FDFFA4 50%, #FFF281 100%);
    background: -webkit-linear-gradient(left, #F7FF86 0%, #FDFFA4 50%, #FFF281 100%);
    background: linear-gradient(to right, #F7FF86 0%, #FDFFA4 50%, #FFF281 100%);
    -webkit-box-shadow: 5px 4px 8px 0px rgba(0,0,0,0.74); 
    box-shadow: 5px 4px 8px 0px rgba(0,0,0,0.74);
}

.postIt p{
    color: black;
}

.button{
    margin-left: 370px;
}